// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$title-font-stack: 'PT' !default;
/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Couleur de texte 
/// @type Color
$text-color: hsl(160, 0%, 80%) !default;

/// Couleur de texte mis en avant
/// @type Color
$text-high-color: rgb(255,255,255) !default;

/// Définition des tailles de police
$font-size: 30px, 25px, 20px, 16px, 12px;

/// Définition de la palette
/// @type List
$palet: rgb(5,22,42), rgb(8,26,50), rgb(10,78,118),rgb(68,148,184); 

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$BASE_URL: './../assets/' !default;

//Largeur de la barre de menu
$HEADER_WIDTH: 250px;
