footer
{

    position: fixed;
    bottom: 10px; //10 valeur arbitraire
    right: 10px; //10 valeur arbitraire

    z-index: 0;

    text-align: right;

    color: $text-high-color;
    font-size: nth($font-size, 5);

}