// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header
{
    //Dimension du header
    $min-height: 550px;
    //Dimensions de l'image avatar
    $avatar-width: 249px;
    $avatar-height: 144px;
    //Largeur des boutons du menu
    $button-menu-width: 200px;

    @include stars;

    position: fixed;
    top: 0;
    left: 0;
    width: $HEADER_WIDTH;
    height: 100%;
    min-height: $min-height;
   
    //background-image: image("Head-Background.png");

    border-right: 1px solid nth($palet, 4);

    box-shadow: 0px 0px 5px nth($palet, 4);

    //Affichage du personnage
    &::after
    {
        content: " ";

        position: absolute;
        left: 0;
        bottom: 0;
        width: $avatar-width;
        height: $avatar-height;

        background-image: image("Avatar.png");
    }

    //Zone de titre
    /*#title
    {
        color: $text-high-color;
        font-family: $title-font-stack;
        font-size: nth($font-size, 1)+10px;

        margin: 10px;
        margin-top: 5px;
    }*/

    //Bannière
    .banner
    {
        margin:auto;
        margin-top: -10px; //-10 valeur arbitraire

        z-index: 100;
        opacity: 1;

        width: 69 * 1.25px; //69 largeur originale de l'image
        height: (155/668)*100%; //152 hauteur originale de l'image
    }



    //Menu contenant les boutons de navigation
    #menu
    {
        position: absolute;
        left:50%;
        top: 40%;

        transform: translate(-50%, -50%);        

        width: $button-menu-width;
        margin: auto;

        .button-menu
        {
            display: block;
            width: 90%;
            margin-top: 20px;
            
        }
    }

}