/*=======================================
  Définition du composant panel
  Section contenant du texte
  =======================================*/
.panel
{
    //Hauteur de la barre de titre
    $title-height: 50px;
    //Padding 
    $padding: 15px;
    //Hauteur de la barre de bordure
    $border-height: 6px;

    background-color: nth($palet,2);
    color: $text-color;

    padding: $padding;
    padding-top: $title-height + 5px; //5: valeur arbitraire

    position: relative;

    border: 1px solid nth($palet, 4);

    box-shadow: 0px 0px 5px nth($palet, 4);

    // barre de titre
    &:before 
    {
        font-size: nth($font-size, 2);
        color: $text-high-color; 
        content: attr(title);
        position: absolute;
        padding: $padding;
        padding-top: $border-height; 
        top: 0;
        left: 0;
        width: 100%;
        height: $title-height;
        line-height: $title-height;
        vertical-align: middle;
        border-bottom: 1px solid nth($palet, 4);

    }

    // image de bordure supérieure
    &:after
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: image("Div-Top.png");
        background-size: auto 100%;
        width: 100%;
        height: $border-height;
        
    }
    
}